<div *ngIf="( selectedTabLink$ | async )==='hot'; else other" >
  <app-image-slider 
    [sliders]="(imageSliders$|async)"
  ></app-image-slider>
  <app-horizontal-grid>
      <!-- 指令所在的元素叫宿主 -->
      <div appGridItem *ngFor="let item of (channels$|async)">
          <img [src]='item.icon' alt="" appGridItemImage imageSize='4rem' fitMode='cover'>
          <span appGridItemTitle='4rem'>{{item.title}}</span>
      </div> 
  </app-horizontal-grid>

</div>
<ng-template #other>
  other works
</ng-template>
<!-- <a [routerLink]="[ 'grand' ]">link to grand</a> -->
<!-- <a [routerLink]="[ 'grand' ]" routerLinkActive="active" [queryParams]="{name:'zhangs',age:12}">link to grand</a>
<a [routerLink]="[ { outlets:{ second:['aux'] } } ]" >link to second</a> -->
<router-outlet></router-outlet>
